<template>
  <div id="app">

    <div class="container">
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              <router-link :to="{ name: 'Home'}">
                Podcaster
              </router-link>
            </p>
          </div>
        </div>
      </nav>
      <hr/>

      <router-view></router-view>
    </div>
  </div>

</template>

<script>
export default {
  name: 'app',
  components: {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.myloader{
  position:absolute;
  z-index: 200;
  background-color: white;
  width: 100%;
  height: 100%;
}
</style>
