<template>
  <div class="list">

  <div class="column is-3 is-offset-9">
    <div class="columns">
      <span class="tag is-info is-pulled-right">{{arrayLength}}</span>
      <input class="input" type="text" placeholder="Filter podcasts..." v-model="filterTitleName">
    </div>
    <div v-if="loading">Loading...</div>
  </div>
  <div class="columns is-mobile">
    <div class="columns is-multiline is-mobile">
    	    <podcastExtract class="column is-3" :image="podcastExtract['im:image'][2].label | image" :title="podcastExtract['im:name'].label" :author="podcastExtract['im:artist'].label" v-for="podcastExtract in countPodcasts(filterBy(podcastArray, filterTitleName,'im:name.label', 'im:artist.label'))" :key="podcastExtract.id.attributes['im:id']":link="{ name: 'Podcast', params: { idPodcast: podcastExtract.id.attributes['im:id'] }}" :cardClass="'list-card'" :imageClass="'list-image'"></podcastExtract>
    	</div>
  </div>

</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';

export default {
  name: 'Home',
  data () {
	    return {
        loading: true,
        podcastArray: [],
        arrayLength:100,
        filterTitleName:''
	    }
  	},
  mounted () {
    axios
      .get('https://itunes.apple.com/us/rss/toppodcasts/limit=100/genre=1310/json')
      .then(response => (this.podcastArray = response.data.feed.entry)).catch(error => console.log(error)).finally(() => this.loading = false)
  },
  methods: {
	    countPodcasts(array){
	    	this.arrayLength = array.length;
	        return array;
	    },
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.tag{
	height: 100%;
}

.list-card{
    padding-top: 90px !important;
}

.list-image{
	width: 170px !important;
}
</style>
