<template>
  <div class="podcastExtract">

	<router-link :to="link" v-bind:class="{ 'cursor': link.name==='' }">
		<img :src="image" class="header-img" v-bind:class="[imageClass]">
		<div  class="box" v-bind:class="[cardClass]">
	      	<div class="media-half">
	        	<p class="title">{{title}}</p>
	        	<p class="subtitle">Author: {{author}}</p>
	    	</div>

			<div class="content has-text-left" v-if="description">
				<hr/>
				<strong>Description:</strong>
				<br/>
				{{description}}
			</div>

		</div>

	</router-link>



  </div>
</template>

<script>
export default {
	props:['image', 'title', 'description', 'author', 'link', 'imageClass', 'cardClass'],
	name: 'podcastExtract',
	data () {
	    return {
	    }
	}
}
</script>

<style>

.cursor{
	cursor: default !important;
}

p.title{
	font-size: 1.5rem;
}

p.subtitle{
	font-size: 0.9rem;
}


.header-img {
    border-radius: 50%;
    border-radius: 50%;
    position: relative !important;
    top: 80px;
    z-index: 1;
}



</style>
